section.section._pt0
    .container
        ul.breadcrumbs(role="list")
            li.breadcrumbs__item(role="listitem")
                a.breadcrumbs__link(href="home.html" role="link") Главная
            li.breadcrumbs__item(role="listitem")
                a.breadcrumbs__link(href="catalog.html" role="link") Каталог
            li.breadcrumbs__item(role="listitem") Свадебные торты
