section.section.catalog
    .container
        include _filter

        .catalog__cols
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
            .catalog__col
                +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')

        include _pagination




