section.section.categories
    .container
        .section__header-carousel
            +navigation('categories__navigation', '_prev')
            h1._center Свадебные торты
            +navigation('categories__navigation', '_next')

        .categories__carousel.section__carousel.swiper._shadow
            .categories__carousel-wrapper.swiper-wrapper
                .categories__carousel-slide.swiper-slide
                    +category('С ягодами', 'category-carousel-1', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Без мастики', 'category-carousel-2', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('С живыми цветами', 'category-carousel-3', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('В виде сердца', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Прикольные', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Классические', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('С гипсофилой', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('С ягодами', 'category-carousel-1', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Без мастики', 'category-carousel-2', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('С живыми цветами', 'category-carousel-3', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('В виде сердца', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Прикольные', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('Классические', 'category-carousel-4', 148, 162, '_small')
                .categories__carousel-slide.swiper-slide
                    +category('С гипсофилой', 'category-carousel-4', 148, 162, '_small')

