address.header__contacts
    .header__contacts-links
        a.header__contacts-link._phone(href="tel:+74951810801" role="link") +7 (495) 181-08-01
        a.header__contacts-link(href="mailto:zakaz@mrginger.ru" role="link") zakaz@mrginger.ru

    .header__socials
        a.header__social(href="https://vk.com/" target="_blank" rel="nofollow" role="link" aria-label="vk.com")
            svg(width="28" height="28")
                use(xlink:href="img/sprite.svg#vk")
        a.header__social(href="https://instagram.com/" target="_blank" rel="nofollow" role="link" aria-label="instagram.com")
            svg(width="28" height="28")
                use(xlink:href="img/sprite.svg#instagram")