form.header__search(action="#" method="post" role="form")
    input.header__search-input(type="text" name="search" placeholder="Поиск" autocomplete="off")
    button.header__search-submit(type="submit" role="button" aria-label="Поиск")
        svg(width="20" height="20")
            use(xlink:href="img/sprite.svg#search")