section.section.home-content
    .home-content__lists
        +picture('home-content__list', 'png', 'img/webp/list-1@2x.webp', 'img/webp/list-1.webp', 'img/list-1@2x.png', 'img/list-1.png', '154', '107')
        +picture('home-content__list', 'png', 'img/webp/list-2@2x.webp', 'img/webp/list-2.webp', 'img/list-2@2x.png', 'img/list-2.png', '113', '109')
        +picture('home-content__list', 'png', 'img/webp/list-3@2x.webp', 'img/webp/list-3.webp', 'img/list-3@2x.png', 'img/list-3.png', '50', '70')
        +picture('home-content__list', 'png', 'img/webp/list-4@2x.webp', 'img/webp/list-4.webp', 'img/list-4@2x.png', 'img/list-4.png', '87', '63')
        +picture('home-content__list', 'png', 'img/webp/list-5@2x.webp', 'img/webp/list-5.webp', 'img/list-5@2x.png', 'img/list-5.png', '142', '108')

    .container
        .home-content__cols
            .home-content__col
                p.home-content__title-mobile.h1 Торты на заказ из лучших ингредиентов и фирменные начинки от Шеф-кондитера Mr.Ginger

                +picture('home-content__picture', 'png', 'img/tmp/webp/home-content@2x.webp', 'img/tmp/webp/home-content.webp', 'img/tmp/home-content@2x.png', 'img/tmp/home-content.png', '534', '368')

            .home-content__col
                h1.h1 Торты на заказ из лучших ингредиентов и фирменные начинки от Шеф-кондитера Mr.Ginger
                p Любое торжественное мероприятие сопровождается сладкими угощениями - тортом, десертами, кенди-барами. Команда Mr.Ginger приготовила для вас огромное количество тортов, капкейков, кенди-баров на заказ в Москве и МО.  Помимо оригинального дизайна мы гарантируем отменный вкус приглянувшегося торта на заказ.
                p На нашем сайте вы можете выбрать уже готовый дизайн торта, или воспользоваться формой заявки, для заказа торта по собственному эскизу.

