section.section.interesting
    .container
        .section__header-carousel._mobile-no-nav
            +navigation('interesting__navigation', '_prev')
            h2.h1._center Вам также может быть интересно
            +navigation('interesting__navigation', '_next')

        .interesting__carousel.section__carousel.swiper._mobile-full._shadow
            .swiper-wrapper
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')
                .best-products__slide.swiper-slide
                    +product('product-carousel', 'Торт без мастики №1', 'Торт без мастики с украшением различными конфетками', '4 580')