section.section
    .container
        h2.h1._center Другие статьи

        .about__carousel.section__carousel.swiper._mobile-full
            .swiper-wrapper
                .articles__slide.swiper-slide
                    +article('Новогодние пирожные', '_no-bg')
                .articles__slide.swiper-slide
                    +article('Пряничные домики – оригинальный подарок на Новый год и Рождество', '_no-bg')
                .articles__slide.swiper-slide
                    +article('Как правильно рассчитать вес и размер свадебного торта?', '_no-bg')