ul.pagination-catalog(role="list")
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__btn._prev(href="#" role="link")
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__link._active(href="#" role="link") 1
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__link(href="#" role="link") 2
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__link(href="#" role="link") 3
    li.pagination-catalog__item(role="listitem") ...
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__link(href="#" role="link") 45
    li.pagination-catalog__item(role="listitem")
        a.pagination-catalog__btn._next(href="#" role="link")
