extends base

block seo
    - var seo = {title: 'О нас', description: '', keywords: ''}

block main
    include includes/_breadcrumbs

    section.section
        .container
            h1._center О нас

            .about__block.about__grid-two
                .text
                    p Наш дружный коллектив кондитеров профессионалов под руководством шеф-кондитера с более чем 20-летним опытом работы в пятизвёздочном отеле Москвы приготовит для вас вкуснейший заказной торт любого размера и оформления. Накопленный за многие годы опыт изготовления кондитерских изделий позволяет нам предложить вам широкий ассортимент начинок от классического наполеона и медовика до современных муссовых тортов и чизкейков.
                    p Вся наша продукция изготовлена из натуральных ингредиентов высшего качества и готовится нашими кондитерами непосредственно в кондитерской. Все торты кондитеры готовят с любовью и вниманием к деталям. Мы понимаем, как важен торт для вашего праздника.
                    h3(role="heading") Основные принципы нашей работы
                    ul(role="list")
                        li(role="listitem") стабильное качество
                        li(role="listitem") безопасность для потребителя
                        li(role="listitem") европейские технологии
                        li(role="listitem") современное оборудование
                        li(role="listitem") сертификат соответствия
                        li(role="listitem") ежедневный поиск новых идей

                +picture('about__picture', 'jpeg',
                    'img/tmp/webp/about-img@2x.webp', 'img/tmp/webp/about-img.webp',
                    'img/tmp/about-img@2x.jpg', 'img/tmp/about-img.jpg', 540, 383)

            .about__block.text
                p Наш дружный коллектив кондитеров профессионалов под руководством шеф-кондитера с более чем 20-летним опытом работы в пятизвёздочном отеле Москвы приготовит для вас вкуснейший заказной торт любого размера и оформления. Накопленный за многие годы опыт изготовления кондитерских изделий позволяет нам предложить вам широкий ассортимент начинок от классического наполеона и медовика до современных муссовых тортов и чизкейков.
                p Вся наша продукция изготовлена из натуральных ингредиентов высшего качества и готовится нашими кондитерами непосредственно в кондитерской. Все торты кондитеры готовят с любовью и вниманием к деталям. Мы понимаем, как важен торт для вашего праздника.

            .about__block.about__carousel.swiper
                .swiper-wrapper
                    .about__carousel-slide.swiper-slide
                        +picture('about__carousel-picture', 'jpeg',
                            'img/tmp/webp/about-carousel@2x.webp', 'img/tmp/webp/about-carousel.webp',
                            'img/tmp/about-carousel@2x.jpg', 'img/tmp/about-carousel.jpg', 351, 280)
                    .about__carousel-slide.swiper-slide
                        +picture('about__carousel-picture', 'jpeg',
                            'img/tmp/webp/about-carousel@2x.webp', 'img/tmp/webp/about-carousel.webp',
                            'img/tmp/about-carousel@2x.jpg', 'img/tmp/about-carousel.jpg', 351, 280)
                    .about__carousel-slide.swiper-slide
                        +picture('about__carousel-picture', 'jpeg',
                            'img/tmp/webp/about-carousel@2x.webp', 'img/tmp/webp/about-carousel.webp',
                            'img/tmp/about-carousel@2x.jpg', 'img/tmp/about-carousel.jpg', 351, 280)
                    .about__carousel-slide.swiper-slide
                        +picture('about__carousel-picture', 'jpeg',
                            'img/tmp/webp/about-carousel@2x.webp', 'img/tmp/webp/about-carousel.webp',
                            'img/tmp/about-carousel@2x.jpg', 'img/tmp/about-carousel.jpg', 351, 280)
                    .about__carousel-slide.swiper-slide
                        +picture('about__carousel-picture', 'jpeg',
                            'img/tmp/webp/about-carousel@2x.webp', 'img/tmp/webp/about-carousel.webp',
                            'img/tmp/about-carousel@2x.jpg', 'img/tmp/about-carousel.jpg', 351, 280)

            .about__block.text
                p Наш дружный коллектив кондитеров профессионалов под руководством шеф-кондитера с более чем 20-летним опытом работы в пятизвёздочном отеле Москвы приготовит для вас вкуснейший заказной торт любого размера и оформления. Накопленный за многие годы опыт изготовления кондитерских изделий позволяет нам предложить вам широкий ассортимент начинок от классического наполеона и медовика до современных муссовых тортов и чизкейков.
                p Вся наша продукция изготовлена из натуральных ингредиентов высшего качества и готовится нашими кондитерами непосредственно в кондитерской. Все торты кондитеры готовят с любовью и вниманием к деталям. Мы понимаем, как важен торт для вашего праздника.
                p Наш дружный коллектив кондитеров профессионалов под руководством шеф-кондитера с более чем 20-летним опытом работы в пятизвёздочном отеле Москвы приготовит для вас вкуснейший заказной торт любого размера и оформления. Накопленный за многие годы опыт изготовления кондитерских изделий позволяет нам предложить вам широкий ассортимент начинок от классического наполеона и медовика до современных муссовых тортов и чизкейков.
                p Вся наша продукция изготовлена из натуральных ингредиентов высшего качества и готовится нашими кондитерами непосредственно в кондитерской. Все торты кондитеры готовят с любовью и вниманием к деталям. Мы понимаем, как важен торт для вашего праздника.

    include includes/_home-pluses