extends base

block seo
    - var seo = {title: 'Доставка', description: '', keywords: ''}

block main
    include includes/_breadcrumbs

    section.section
        .container
            h1._center Самовывоз
            .delivery__grid
                .delivery__map
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f195811af57572d5435464174c4fb54ed620651769fd250725319fc20743755&amp;width=100%25&amp;height=389&amp;lang=ru_RU&amp;scroll=false")
                .delivery__contacts
                    address.delivery__contact
                        .delivery__contact-icon
                            svg(width="30" height="30")
                                use(xlink:href="img/sprite.svg#contacts-1")
                        .delivery__contact-content Москва, Азовская 24 к.3, ТРЦ Азовский, 3 этаж, м.Севастопольская

                    address.delivery__contact
                        .delivery__contact-icon
                            svg(width="30" height="30")
                                use(xlink:href="img/sprite.svg#contacts-2")
                        .delivery__contact-content
                            a.delivery__contact-link(href="tel:+74951810801" role="link") +7 (495) 181-08-01
                            a.delivery__contact-link(href="mailto:zakaz@mrginger.ru" role="link") zakaz@mrginger.ru

                    address.delivery__contact
                        .delivery__contact-icon
                            svg(width="30" height="30")
                                use(xlink:href="img/sprite.svg#contacts-3")
                        .delivery__contact-content Пн-Вс: 10:00 - 21:00

    section.section
        .container
            h2.h1._center Бесконтактная доставка

            .delivery__pluses
                .delivery__plus
                    .delivery__plus-icon
                        svg(width="50" height="50")
                         use(xlink:href="img/sprite.svg#delivery-1")
                    .delivery__plus-content При заказе торта от 3 000 р. - бесплатная доставка по Москве (внутри МКАД) либо скидка 10% при самовывозе. Стоимость доставки десертов - от 500 р. по Москве. <br>По Московской области стоимость доставки рассчитывается индивидуально.
                .delivery__plus
                    .delivery__plus-icon
                        svg(width="50" height="50")
                            use(xlink:href="img/sprite.svg#delivery-2")
                    .delivery__plus-content Собственная курьерская служба, которая гарантирует точное время доставки десертов.
                .delivery__plus
                    .delivery__plus-icon
                        svg(width="50" height="50")
                            use(xlink:href="img/sprite.svg#delivery-2")
                    .delivery__plus-content Интервалы доставки<br>ежедневно:<br>10:00 - 12:00<br>12:00 - 15:00<br>15:00 - 18:00<br>18:00 - 21:00

