extends base

block seo
    - var seo = {title: 'Оплата', description: '', keywords: ''}

block main
    include includes/_breadcrumbs

    section.section
        .container
            h1._center Оплата

            p ЗАКАЗ МОЖНО ОПЛАТИТЬ У НАС НА ПУНКТЕ САМОВЫВОЗА ЛИБО ДИСТАНЦИОННО
            p Время работы офиса: с 9.00 до 21.00 ч, ежедневно без выходных и праздничных дней.
            p Способы оплаты:
            ul(role="list")
                li(role="listitem") Оплата картой
                li(role="listitem") Наличными
                li(role="listitem") Оплата по расчётному счёту
                li(role="listitem") Оплата через Юкассу
            h2(role="heading") Политика возврата товара
            p В соответствии с законом РФ «О защите прав потребителей» Вы можете вернуть товар.
            p «Покупатель вправе предъявить предусмотренные статьей 18 ЗОЗПП требования к продавцу (изготовителю, уполномоченной организации или уполномоченному индивидуальному предпринимателю, импортеру) в отношении недостатков товара, если они обнаружены в течение срока годности.»
            p Возврат оплаченных продовольственных товаров:
            ul(role="list")
                li(role="listitem") Продовольственный товар НАДЛЕЖАЩЕГО качества НЕ ПОДЛЕЖИТ возврату или обмену.
                li(role="listitem") Обнаружение Потребителем несоответствия заказанного торта его индивидуальным вкусовым особенностям (пристрастиям) не может являться основанием для возврата. Покупатель может вернуть продовольственный товар только НЕНАДЛЕЖАЩЕГО качества.
            p Товар ненадлежащего качества — это товар у которого:
            ul(role="list")
                li(role="listitem") истек срок годности в момент получения его Потребителем;
                li(role="listitem") в момент доставки товара были обнаружены дефекты либо повреждения товара: нарушена целостность упаковки, что привело к повреждению внешнего вида торта.
            p Чтобы вернуть товар НЕНАДЛЕЖАЩЕГО качества необходимо:
            ul(role="list")
                li(role="listitem") cразу после выявления недостатков товара связаться с нами любым удобным способом: по телефону или электронной почте;
                li(role="listitem") изложить причину возврата (в свободной форме);
                li(role="listitem") написать заявление на возврат денежных средств и передать в бухгалтерию компании.
            p Возврат товара НЕНАДЛЕЖАЩЕГО качества осуществляется:
            ul(role="list")
                li(role="listitem") на пункте самовывоза по адресу: г. Москва, ул . Азовская 24 к 3
                li(role="listitem") курьеру, доставившему товар в момент доставки.
            p Денежные средства возвращаются безналичным переводом по реквизитам, указанным в заявлении на возврат, в течение 10 календарных дней с даты получения заявления.
