$color_background: #F0F1F5;
$color_primary: #46475E;
$color_secondary: #7777A3;
$color_background_card: #F9F9FC;
$color_footer: #3F3F59;
$color_grey: #85859A;
$color_light_grey: #D2CFDA;
$color_input_bg: #F9F9FC;
$color_input_border: #E9E8ED;
$color_white: #FFFFFF;
$color_black: #000000;

$transition: .5s ease;