.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0 0;

	& .swiper-pagination-bullet {
		min-width: 10px;
		max-width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $color_light_grey;
		opacity: 1;
		margin: 0 10px !important;

		&-active {
			background: $color_secondary;
		}
	}
}