.popular-category {
	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		position: relative;

		@media (max-width: 700px) {
			justify-content: flex-start;
			margin-right: -15px;
			margin-left: -15px;
			padding: 0 15px;
			overflow-x: auto;
		}
	}

	&__tab {
		font-weight: 500;
		text-transform: uppercase;
		color: $color_grey;
		margin-right: 60px;
		white-space: nowrap;
		transition: unset;

		@media (max-width: 700px) {
			margin-right: 20px;
		}

		&:last-child,
		&._last {
			margin-right: 0;
		}

		&._active {
			font-weight: 700;
		}
	}

	&__content {
		display: none;

		&._active {
			display: flex;
		}
	}

	&__swiper {
		@media (min-width: 701px) {
			padding: 20px;
			margin: -20px;
		}

		@media (max-width: 700px) {
			margin: 0 -15px;
			padding: 0 15px;
		}
	}

	&__slide {
		@media (max-width: 700px) {
			width: 164px;
		}
	}
}